.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:750px;
    height: 500px;
    background-color:#393955;
    color:white;
    box-shadow: 0 0 7px #030d1e inset;
    border-width: 3px;
 
    
}
.dropzone{
    width:60%;
    border-radius:  150px;
    border: 3px solid rgb(241, 233, 18);
    border-style: dashed;
    margin-bottom: 10px;
}
.btn{
    width:50%;
    background-color: rgb(77, 121, 244);
    padding: 10px;
    border: 1px solid rgb(92, 89, 89);
    box-shadow: inset;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}
.icon{
    margin-right: 20px;
}
.player{
    color: white;
    width:500px;
    height: 45vh;
    border: 1px solid rgb(241, 233, 18);
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 20px;
    background-color: #ccc;
    margin-top: 20px;
}
.progress{
    height: 100%;
    background-color: greenyellow;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}
