body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1f1f38;
  margin-top: 100px;
  margin-bottom: 80px ;

}

/* acces key */
/* AKIARZ3PQY5A6EAYCNVB */

/* secrect acces key */
/* ed/swzY3rBBxVxvJgNGGHEfl1YATbyY2Y7trb1x6 */
